<div class="container_big_card">
  <div class="big_card_image">
    <img
      src="https://i.stack.imgur.com/luaq2.png"
      alt="placeholder"
      height="200px"
      srcset=""
    />
  </div>

  <div class="big_card_title">
    <h1><a href="#">Saiu nova versão do Angular</a></h1>
  </div>

  <div class="big_card_descricao">
      <p>
        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ea, porro dolores eum possimus nesciunt enim tempora quibusdam! Officia eius ipsa maiores distinctio amet excepturi quam expedita accusamus beatae quaerat?</a>
      </p>
  </div>

</div>
