<div class="container_small_card">
  <div class="container_small_card_content">
    <div class="small_card_image">
      <img
        src="https://www.patasdacasa.com.br/sites/default/files/styles/webp/public/noticias/2023/01/gato-preto-e-realmente-mais-carinhoso-que-os-outros-veja-a-percepcao-de-alguns-tutores_1.jpg.webp?itok=KBTLNk3h"
        alt="gatos"
        srcset=""
      />
    </div>

    <div class="small_card_title">
      <h1>
        <a href="#">O gato preto é realmente mais carinhoso que os outros?</a>
      </h1>
    </div>
  </div>

  <div class="container_small_card_separator">
    <hr>
  </div>

</div>


