@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.container_small_card {
  /* border: 1px solid wheat; */
  width: 700px;
  margin-bottom: 15px;
}

.container_small_card_content {
  display: flex;
  flex-direction: row;
}

.small_card_image > img {
  width: 200px;
  margin-right: 20px;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.24);
}

.small_card_title {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_card_title > h1 > a {
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.container_small_card_separator {
  margin-top: 10px;
}
