<div class="container_content">
  <div class="content_cover">
    <img src="{{ photoCover }}" alt="filhotes de gatos">
  </div>

  <div class="content_title">
    <h1>{{ contentTitle }}</h1>
    <hr />
  </div>

  <div class="container_descricao">
    <div class="content_descricao">
      <p>
        {{ contentDescricao }}
        {{ contentDescricao }}
        {{ contentDescricao }}
        {{ contentDescricao }}
      </p>
    </div>

    <div class="content_outhers_descricao">
      <p>
        {{ contentDescricao }}
        {{ contentDescricao }}
        {{ contentDescricao }}
        {{ contentDescricao }}
      </p>
    </div>
  </div>

  <div class="content_voltar">
    <a [routerLink]="['']">{{ contentReturn }}</a>
  </div>
</div>
