<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
    Id="1"
    photoCover="https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/01-cat-names-nationalgeographic_1525054.jpg?w=1600&h=900"
    cardTitle="Gatos sabem o próprio nome"
    cardDescricao="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque laoreet augue nec turpis placerat, vitae lacinia mauris aliquam. Sed finibus risus metus, vel vestibulum augue venenatis nec. Donec in posuere erat, sollicitudin dapibus urna. Cras ornare arcu orci, in tristique erat tristique quis. Proin bibendum a elit in vehicula."
    >
  </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
    Id="2"
    photoCat="https://www.patasdacasa.com.br/sites/default/files/styles/webp/public/noticias/2023/01/gato-preto-e-realmente-mais-carinhoso-que-os-outros-veja-a-percepcao-de-alguns-tutores_1.jpg.webp?itok=KBTLNk3h"
    cardTitleCat="O gato preto é realmente mais carinhoso que os outros?"></app-small-card>
    <app-small-card
    Id="3"
    photoCat="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR79FEchUwmnEceAzgnE5dCsz2pEMwiilc9LEEn3woOgc0mRKp3B9TA7dgqTSU00acDMe4&usqp=CAU"
    cardTitleCat="Os gatos são capazes de identificar nossos sentimentos"></app-small-card>
    <app-small-card
    Id="4"
    photoCat="https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3122746:1628883377/preconceito.jpg?f=16x9&h=720&q=0.8&w=1280&$p$f$h$q$w=38c9e28"
    cardTitleCat="Gatos pretos: entenda o estigma que leva sofrimento a estes animais até hoje"></app-small-card>
  </div>
</div>

<!--
  <hr>
  <app-menu-subtitle></app-menu-subtitle>
<div class="container_articles">
  <div class="articles_main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div> -->
